.App {
  min-height: 100vh;
  color: #282c34;
}

/* Grid layout */
.App {
  display: grid;

  grid-template-areas:
    "header header header"
    "nav content content"
    "footer footer footer";

  /* grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto; */
  grid-template-columns: 200px 2fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;

  height: 100vh;
}

header {
  grid-area: header;
}

main {
  grid-area: content;
}

nav {
  grid-area: nav;
  margin-left: 0.5rem;
}

footer {
  grid-area: footer;
}

@media (max-width: 768px) {
  .App {
    grid-template-areas:
      "header"
      "nav"
      "content"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      minmax(auto) /* Nav */
      1fr; /* Content */
  }

  nav,
  aside {
    margin: 0;
    /* min-width: 0; */
  }
}

.responsiveTable {
  padding: 5%;
}
