.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Sidebar Nav */
.nav-wrapper {
  width: 100%;
}

#sidebar {
  top: 0;
  left: 0;
  top: 5%;
  margin-bottom: 12.3vh;
  height: 100vh;
  z-index: 999;
  color: #fff;
}
