.App {
  /* min-height: 100vh; */
  color: #282c34;
}

/* Grid layout */
.App {
  display: grid;

  grid-template-areas:
    "header header header"
    "nav content side"
    "footer footer footer";

  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;

  height: 100vh;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
  margin-left: 0.5rem;
}

main {
  grid-area: content;
}

aside {
  grid-area: side;
  margin-right: 0.5rem;
}

footer {
  grid-area: footer;
}

@media (max-width: 768px) {
  .App {
    grid-template-areas:
      "header"
      "nav"
      "content"
      "side"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      minmax(75px, auto) /* Nav */
      1fr /* Content */
      minmax(75px, auto) /* Sidebar */
      auto; /* Footer */
  }

  nav,
  aside {
    margin: 0;
  }
}

.App-link {
  color: #61dafb;
}

/* Sidebar Nav */
/* .nav-wrapper {
  width: 100%;
}

#sidebar {
  top: 0;
  left: 0;
  top: 5%;
  margin-bottom: 12.3vh;
  height: 100vh;
  z-index: 999;
  color: #282c34;
} */
